<div id="sprsmlList">
  <input type="text" placeholder="Søk" />
  <div id="{{kategori}}" class="kategori" *ngFor="let kategori of kategorier" #element (click)="this[kategori] = this[kategori] && !sporsmalOpen ? false : true">
    <div *ngIf="kategoriHarSporsmal(kategori)">
      <h2>{{kategori}}</h2>
      <div class="sporsmal" [ngStyle]="{'display':(this[kategori] || this[sporsmal.sporring]) ? 'block' : 'none'}" *ngFor="let sporsmal of alleSporsmal" (click)="this[sporsmal.sporring] = this[sporsmal.sporring] ? false : true">
        <div *ngIf="sporsmal.kategori == kategori && (sporsmal.svar != null || sporsmal.muligeSvar != null)">
          <h3>{{sporsmal.sporring}}</h3>
          <div class="svar" *ngIf="sporsmal.svar != null || sporsmal.muligeSvar.length > 0" [ngStyle]="{'display':(this[sporsmal.sporring]) ? 'block' : 'none'}">
            <div *ngIf="sporsmal.godkjentSvar != null">
              <b>Godkjent svar:</b><br />
              <p>{{sporsmal.godkjentSvar}}</p>
            </div>
            <b>Forslag:</b>
            <div class="muligeSvar">
              <div style="display:block;" *ngFor="let svar of sporsmal.muligeSvar.split(',')">
                <p [innerHTML]="svar"></p> &nbsp;
                <input class="checkKnapp" type="button" value="&#10004;" (click)="settRiktigSvar(sporsmal.id, svar)" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
