
a {
  color: #0366d6;
}

body{
    text-align: center;
    display: block;
    background-color: antiquewhite;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

h1{
    text-align: center;
    margin-bottom: 5vh;
}

p{
    display: inline;
}

label{
    width: 100%;
}

#mainDiv {
  background-color: white; /*#AAFFE1;*/
  width: 60%;
  height: 100vh;
  margin: auto;
}

.kategori {
    background-color: rgba(106, 226, 184, 0.7);
    width: 60%;
    border-radius: 1.5vw;
    margin: 1vw auto;
    z-index: -1;
}

.sporsmal, .svar{
    display: none;
    margin: 2vh auto;
}

.kategori:hover, .sporsmal:hover{
    cursor: pointer;
}

.muligeSvar{
    display: inline;
}

.checkKnapp{
    background-color: floralwhite;
    color: aliceblue;
    border-radius: 3em;
}
