
a {
  color: #0366d6;
}

body{
    text-align: center;
    display: block;
    background-color: antiquewhite;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

h1{
    text-align: center;
    margin-bottom: 5vh;
}

h2{
    text-align: center;
}

p{
    display: inline;
}

label{
    width: 100%;
}

#mainDiv {
  background-color: white; /*#AAFFE1;*/
  width: 60%;
  min-height: 100vh;
  height: 100%;
  margin: auto;
}

.kategori {
    background-color: rgba(106, 226, 184, 0.7);
    width: 60%;
    border-radius: 1.5vw;
    margin: 1vw auto;
}

.sporsmal, .svar{
    display: none;
    margin: 2vh auto;
}

.kategori:hover, .sporsmal:hover{
    cursor: pointer;
}

.muligeSvar{
    display: inline;
}

.forslag {
  display: block;
  border-radius: 1em;
  margin: 1vh;
  background-color: rgba(223, 255, 250, 0.56);
}

.checkKnapp{
    background-color: floralwhite;
    color: aliceblue;
    border-radius: 3em;
}

.tommelKnapp {
  border-radius: 0.5vw;
  width: 4vw;
}

form{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.tittel{
    flex: 75%;
}
